# Univariate Analysis

In [1]:
import pandas as pd

In [8]:
df_contracts = pd.read_csv('./datasets/churn_contracts.csv')
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

In [15]:
df_contracts.TotalCharges = pd.to_numeric(df_contracts.TotalCharges, errors='coerce')
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

In [11]:
df_services = pd.read_csv('./datasets/churn_services.csv')
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [13]:
df_customers = pd.read_csv('./datasets/churn_customers.csv')
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [17]:
df_churn = df_contracts.merge(df_services, on='customerID').merge(df_customers, on='customerID')
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
 8   PhoneService      7043 non-null   object
 9   MultipleLines     7043 non-null   object
 10  InternetService   7043 non-null   object
 11  OnlineSecurity    7043 non-null   object
 12  OnlineBackup      7043 non-null   object
 13  DeviceProtection  7043 non-null   object
 14  TechSupport       7043 non-null   object
 15  StreamingTV       7043 non-null   object
 16  StreamingMovies   7043 non-null   object
 17  gender            7043 non-null   object
 18  SeniorCitizen     7043 non-null   int64
 19  Partner           7043 non-null   object
 20  Dependents        7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [19]:
df_churn.dropna(axis=0).info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   tenure            7032 non-null   int64
 2   Contract          7032 non-null   object
 3   PaperlessBilling  7032 non-null   object
 4   PaymentMethod     7032 non-null   object
 5   MonthlyCharges    7032 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7032 non-null   object
 8   PhoneService      7032 non-null   object
 9   MultipleLines     7032 non-null   object
 10  InternetService   7032 non-null   object
 11  OnlineSecurity    7032 non-null   object
 12  OnlineBackup      7032 non-null   object
 13  DeviceProtection  7032 non-null   object
 14  TechSupport       7032 non-null   object
 15  StreamingTV       7032 non-null   object
 16  StreamingMovies   7032 non-null   object
 17  gender            7032 non-null   object
 18  SeniorCitizen     7032 non-null   int64
 19  Partner           7032 non-null   object
 20  Dependents        7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [23]:
df_churn.rename(columns={'SeniorCitizen': 'Above65Yo'}, inplace=True)